* {
	margin: 0;
	padding: 0;
}

#wrapper {
	overflow: hidden;
}

#calendar {
	width: 50%;
	float: left;
}

iframe#school {
	border: none;
	width: 50%;
	height: 100%;
	float: left;
}

	.course-list {
		font-family: arial;
	}

	.course-list tr {
		cursor: crosshair;
		font-size: 12px;
	}
/* calendar */
/*.wc-header td {
	background: url(/static/img/shader.png) repeat-x;
}*/