<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<title>Ant Planner</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/start/jquery-ui.css'>
	<link rel='stylesheet' type='text/css' href='/static/css/jquery.weekcalendar.antplanner.css'>
	<link rel='stylesheet' type='text/css' href='/static/css/main.css'>
		
	<script type='text/javascript' src='/static/js/jquery-1.5.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery-ui-1.8.9.custom.min.js'></script>
	<script type='text/javascript' src='/static/js/json2.antplanner.js'></script>

	<script type='text/javascript' src='/static/js/jquery.weekcalendar.antplanner.js'></script>
	<script type="text/javascript" src='/static/js/main.js'></script>
	
	<script type="text/javascript">
	/*
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-16581503-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	  */
	</script>

</head>
<body id="index">
	<div id="wrapper">
		<div id="header">
			<h1><a href="/">ant<strong>planner</strong></a></h1>
			<h2>A better WebSoc for UCI </h2>
			<a href="https://github.com/gumho/antplanner/wiki/AntPlanner-Help" id="help-link" target="_blank" title="Help">?</a>
			<a href="https://github.com/gumho/antplanner/wiki/Latest-News" id="news-link" target="_blank" title="Latest News"><span>!!!</span> (Sep 18)</a>
		</div>
		
		<a href="#" id="pull-tab">Less</a>
		
		<div id="controls">
			<ul>
				<li><a href="#" id="clear-calendar">Clear Calendar</a></li>
				<li>
					<a href="#" id="save-load">Save / Load</a>
					<ul id="save-pop-up">
						<li>
							<input type="text" name="username" value="Username" id="username_field">
							<a href="#" id="save-button">Save</a>
							<a href="#" id="load-button">Load</a>
							<p>Note: Schedules are private as long as nobody knows your username. <br> Also, schedules are purged after 6 months. More info <a href="https://github.com/gumho/antplanner/wiki/AntPlanner-Help">here</a>.</p>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		
		<div id="calendar">
		</div>
		
		<iframe src="/search" id="school" name="school" frameBorder="0">		
		</iframe>
		
		<table id="prof-select">
		</table>

	</div>
</body>
</html>