<html>
<head>
	<title>Ant Planner</title>

	<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/start/jquery-ui.css' />
	<link rel='stylesheet' type='text/css' href='/static/css/jquery.weekcalendar.css' />
	<link rel='stylesheet' type='text/css' href='/static/css/main.css' />
		
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery-ui-1.8rc3.custom.min.js'></script>
	<script type='text/javascript' src='/static/js/jquery.weekcalendar.js'></script>
	
	<script type="text/javascript" charset="utf-8">
	
	var START_YEAR = 2010; //static calendar year
	var START_MONTH = 4; //static calendar month (May)
	var START_DAY = 3; //Monday the 3rd 
	
	var COURSE_BAG = []; //stores all courses on the calendar
	var ID_COUNT = 0;
	
	function broadcastMessage(message) {
		alert(message);
	}
	
	function genID() {
		ID_COUNT += 1;
		return ID_COUNT;
	}
	
	//parses course string into readable format ie. INF 41 Software Reqs
	function constructCourseName(courseString, courseType, courseCode) {
		//removing the course name for now...it takes up too much space
		//courseName = courseString.match(/<b>.*<\/b>/)[0].replace(/<.{1,2}>/g, '');
		
		courseNumber = courseString.match(/&nbsp;.*<font/)[0].replace('<font', '').replace(/&nbsp;/g, '').replace(/\s{2,}/g, ' ');
		
		return (courseNumber + courseType + '<br/>(' + courseCode + ')');
	}
	
	//returns an array containing the days a course occurs on
	function getCourseDays(timeString) {
		//READ: WORKAROUND
		//Because the week calendar library does not support recurring
		//events, a single week in time has been selected to represent 
		//a typical week for a school quarter. See date constants above.
		
		var days = [];
		days['M'] = 3;
		days['Tu'] = 4;
		days['W'] = 5;
		days['Th'] = 6;
		days['F'] = 7;
		
		var courseDates = [];
		
		if(timeString.indexOf('M') != -1) {	courseDates.push(days['M']); } 
		if(timeString.indexOf('Tu') != -1) { courseDates.push(days['Tu']); } 
		if(timeString.indexOf('W') != -1) {	courseDates.push(days['W']); }
		if(timeString.indexOf('Th') != -1) { courseDates.push(days['Th']); }
		if(timeString.indexOf('F') != -1) {	courseDates.push(days['F']); }
		
		return courseDates;
	}
	
	//takes course time info and converts into JS Date hour and minute
	//9:30-10:50p
	function getCourseTime(timeString) {
		var inPM = timeString.charAt(timeString.length - 1);
		timeString = timeString.replace(/[a-zA-Z&;]/g,'');
		
		var splitTimes = timeString.split('-');
			var startTime = splitTimes[0];
			var endTime = splitTimes[1];
		
		var splitStart = startTime.split(':');
			var startHour = parseInt(splitStart[0]);
			var startMin = parseInt(splitStart[1]);
	
		var splitEnd = endTime.split(':');
			var endHour = parseInt(splitEnd[0]);
			var endMin = parseInt(splitEnd[1]);
		
		//if end time goes into afternoon, do magic to convert
		//into 24 hour times
		if(inPM == 'p') {
			if(endHour < 12) {
				endHour += 12;
				
				if(startHour >= 1 && startHour < 12) {
					startHour += 12;
				}
			}
		} 
		
		//alert('start: ' + startHour + ':' + startMin + ' end: ' + endHour + ':' + endMin);
		
		var time = {
			"startHour": startHour,
			"startMin": startMin,
			"endHour": endHour,
			"endMin": endMin
		};
		
		return time;
	}
	
	//returns an array of calEvents
	function createEvents(courseName, courseDates, courseTime) {
		var calEvents = [];

		for(i in courseDates) {
			var e = {	
				"id": genID(),
				"start": new Date(START_YEAR, START_MONTH, courseDates[i], courseTime.startHour, courseTime.startMin),
				"end": new Date(START_YEAR, START_MONTH, courseDates[i], courseTime.endHour, courseTime.endMin),
				"title": courseName
			};
			
			calEvents.push(e);
			
			//add calEvent to the global course storage
			COURSE_BAG.push(e);
		}
		
		return calEvents;
	}
	
	jQuery(document).ready(function() {
		//set school iframe height and handler for window resize
		var headerVertMargin = parseInt(jQuery('#header').css('margin-top')) * 2;

		jQuery('#school').css('height', jQuery(window).height() - jQuery('#header').height() - headerVertMargin);
		
		jQuery(window).resize(function() {
			jQuery('#school').css('height', jQuery(window).height() - jQuery('#header').height() - headerVertMargin);
		});
		
		//initialize calendar
		jQuery('#calendar').weekCalendar({
			timeslotsPerHour: 4,
			useShortDayNames: true,
			showHeaderDate: false,
			firstDayOfWeek: 1,
			daysToShow:5,
			businessHours: {start: 8, end: 22, limitDisplay: true},
			allowCalEventOverlap: true,
			overlapEventsSeparate: true,
			buttons: false,
			defaultEventLength: 0,
			height: function(jQuerycalendar){
				return jQuery(window).height() - jQuery('#header').height();
			},
			draggable : function(calEvent, eventElement) {	return false; },
			resizable : function(calEvent, eventElement) {	return false; },
			eventNew : function(calEvent, element) {
				//TODO: different colors for different courses
			},
			eventClick : function(calEvent, element) {
				jQuery('#calendar').weekCalendar('removeEvent', calEvent.id);
				// var eventTitle = calEvent.title;
				// var eventsToDelete = [];
				// 
				// for(i in COURSE_BAG) {
				// 	var e = COURSE_BAG[i];
				// 	
				// 	if(e.title == eventTitle) {
				// 		jQuery('#calendar').weekCalendar('removeEvent', e.id);
				// 		eventsToDelete.push(i);
				// 	}
				// }
				// 
				// for(i in eventsToDelete) {
				// 	COURSE_BAG.splice(eventsToDelete[i], 1);
				// }
			}
		});
		
		//switch calendar view to the static date, rather than today's view
		jQuery('#calendar').weekCalendar('gotoWeek',  new Date(START_YEAR, START_MONTH, START_DAY));
		
		//click handler for adding courses
		jQuery('#school').load(function() {
			var list = jQuery('.course-list', frames['school'].document);
			
			jQuery('tr', list).click(function() {

				timeString = jQuery(this).find('td').eq(5).html();
				
				if(timeString == null) {
					broadcastMessage("You didn't click on a course.");
					return false;
				};
				
				if(timeString.indexOf('TBA') != -1) {
					broadcastMessage("Course time is 'TBA'");
					return false;
				}
				
				courseCode = jQuery(this).find('td').eq(0).html();
				courseType = jQuery(this).find('td').eq(1).html();
				courseString = jQuery(this).prevAll().find('.CourseTitle:last').html();
				
				var calEvents = createEvents(
					constructCourseName(courseString, courseType, courseCode),
					getCourseDays(timeString), 
					getCourseTime(timeString)
				);
				
				for(i in calEvents) {
					jQuery("#calendar").weekCalendar("updateEvent", calEvents[i]);
				}
			});
		});
		
	});
	</script>

</head>
<body style="overflow-y: hidden">
	<div id="wrapper">
		<div id="header">
			<h1>Ant Planner</h1>
			<p>You do this: <strong>1)</strong> pick a class <strong>2)</strong> click on the class you want <strong>3)</strong> it shows up</p>
			<p><em>P.S. This is a pre-alpha release...Many things are broken (see <a href="http://github.com/gumho/ant-planner/issues/">issues</a>)</em></p>
		</div>

		<div id="calendar">
		</div>
		
		<iframe src ="/search" id="school" name="school">		
		</iframe>

	</div>
</body>
</html>