<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<title>Ant Planner</title>

	<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/start/jquery-ui.css'>
	<link rel='stylesheet' type='text/css' href='/static/css/jquery.weekcalendar.css'>
	<link rel='stylesheet' type='text/css' href='/static/css/main.css'>
		
	<script type='text/javascript' src='/static/js/jquery-1.5.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery-ui-1.8.9.custom.min.js'></script>
	<script type='text/javascript' src='/static/js/json2.js'></script>

	<script type='text/javascript' src='/static/js/jquery.weekcalendar.gumho.js'></script>
	<script type="text/javascript" src='/static/js/main.js'></script>
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-16581503-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

</head>
<body id="index">
	<div id="wrapper">
		<div id="header">
			<h1>ant<strong>planner</strong></h1>

			<h2>A better WebSoc for UCI</h2>
			<p>You do this: <strong>1)</strong> pick a class <strong>2)</strong> click the row of the class you want <strong>3) </strong> it shows up  <strong>4)</strong> click the calendar events to remove <strong>5)</strong> rinse, repeat...</p>
			<p id="temp">Been extremely busy juggling projects but I've finally got some time to work on Antplanner again. Apologies for the lack of updates recently. The next change will be a BIG one so please be patient! Again, issues <a href="http://github.com/gumho/antplanner/issues">here</a>.</p>
		</div>
		
		<div id="controls">
			<a href="#" id="clear-calendar">Clear Calendar</a>
			<a href="#" id="pull-tab">Less</a>
		</div>
		
		<div id="calendar">
		</div>
		
		<iframe src ="/search" id="school" name="school" frameBorder="0">		
		</iframe>

	</div>
</body>
</html>