$def with (search_form)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Search</title>
	<link rel='stylesheet' type='text/css' href='/static/css/school.css' />
	<script type="text/javascript" charset="utf-8">
	window.onload=function() {
		document.forms[0].elements['ShowComments'].checked = false;
		document.forms[0].elements['ShowFinals'].checked = false;
	}
	</script>
</head>
<body>
	<div id="school-options-bar">
	</div>
	
	<br/>
	<br/>
	
	<div id="search-form">
		$search_form
	</div>
</body>
</html>